.header {
  position: relative;
  background-color: slategray;
  padding: 20px 0;
  color: white;
}

.header__title {
  margin: 0;
  text-align: center;
}

.sign-link {
  position: absolute;
  right: 20px;
  top: 30px;
  cursor: pointer;
}